/* css styling to make hero section full width
useful for creating full-width banners across different pages */

.hero {
  position: relative;
  height: 475px;
  display: table;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

/* -------------------------------------------------------------------*/
